body {
    background-color: gainsboro;
}

.mapdiv {
    margin: auto;
    width: 50%;
}

.mapdiv svg {
    stroke: black;
}

.head_container {
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;
    background: white;
    padding: 20px;
    font-size: 50px;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    font-size: 30px;
}

nav li {
    display: inline;
    text-align: center;
    padding: 10px;
    background: gainsboro;
}

nav li:hover {
    display: inline;
    text-align: center;
    padding: 10px;
    background: slategray;
}